*.csproj
modding_week1/Library/
modding_week1/Builds/
modding_week1/Temp/
*.sln
modding_week2/Library/
modding_week3/Library/
modding_week4/Library/
modding_week4/Temp/
modding_week5/Library/
modding_week6/Library/
modding_week6/Temp/
modding_week7/Library/
modding_week8/Library/
modding_week9/Library/
modding_week9/Temp/
